/****************************
 * Nav Button Default Styles
 ****************************/
.nav-btn {
  align-items: center;
  background-color: $primary-color;
  border: 1px solid $primary-color-border;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: $button-font;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  padding: 15px;
  position: relative;

  &--md {
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
  }

  &--sm {
    font-size: 12px;
    font-weight: 300;
    padding: 8px;
  }

  &--alt {
    background-color: $alt-color;
    border-color: $alt-color-border;

    &::before {
      background-color: #fff !important;
      box-shadow: none !important;
    }

    &::after {
      background-color: $alt-color-alt !important;
    }
  }

  &::before {
    background: $primary-color-alt url($logo-uri) no-repeat center center / 20px;
    border-radius: 100%;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2) inset,
      -1px 0 3px rgba(0, 0, 0, 0.2) inset;
    content: "";
    height: 30px;
    margin-right: 10px;
    width: 30px;
  }

  &--md::before {
    background-size: 18px;
    height: 25px;
    width: 25px;
  }

  &--md::after {
    right: -8em !important;
  }

  &--sm::before {
    background-size: 14px;
    height: 20px;
    width: 20px;
  }

  &--sm::after {
    right: -10em !important;
  }

  &::after {
    content: "";
    background: $primary-color-alt;
    height: 500px;
    position: absolute;
    right: -5.5em;
    width: 500px;
    transform: translateX(77%) rotate(60deg) translateZ(0);
    transition: transform 200ms ease-in;
    z-index: 1;
  }

  &__text {
    position: relative;
    transition: transform 200ms linear;
    z-index: 2;
  }

  &__action-text {
    align-items: center;
    background-image: url($copy-uri);
    background-repeat: no-repeat;
    background-position: center 40px;
    background-size: 10px;
    display: flex;
    font-size: 80%;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    transform: translateX(130%);
    transition: transform 200ms linear;
    user-select: text;
    width: 100%;
    z-index: 2;

    &::before {
      background-color: $primary-color;
      border-radius: 100%;
      content: "";
      height: 20px;
      left: 50%;
      opacity: 0;
      position: absolute;
      transform: translateX(-50%);
      width: 20px;
      z-index: -1;
    }

    &--is-animating {
      &::before {
        animation: confirm-pulse 300ms;
      }
    }
  }

  &--alt .nav-btn__action-text::before {
    background-color: $alt-color;
  }

  &--md .nav-btn__action-text {
    background-position: 25px;
    left: inherit;
  }

  &--sm .nav-btn__action-text {
    background-position: 20px;
    left: inherit;
  }

  &:hover,
  &:active,
  &--is-active {
    &::after {
      transform: translateX(0) rotate(60deg) translateZ(0);
    }

    .nav-btn__text {
      transform: translateX(-200%);
    }

    .nav-btn__action-text {
      transform: translateX(0);
    }
  }
}
